@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb:11, 66, 133;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-secondary : 171, 171, 171;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 181, 241, 255;
    --background-end-rgb: 0, 0, 0;
    --background-secondary : 107, 184, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    min-height: 100vh;
}

.sidebar-wrapper{
  position: fixed;
  top: 0;
  bottom: 0;
  width:70px;
  background: rgb(var(--foreground-rgb));
  height: 100%;
  transition: 0.5s;
  /* transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1); */
  cursor: pointer;
  color: white;
}
.sidebar-wrapper .branding{
  padding: 10px;
  padding-top: 20px;
  /* margin: 20px; */
}
.sidebar-items-wrapper{
  margin-top: 100px;
}

.sidebar-items-wrapper ul li{
  /* background: white; */
  text-align: center;
  transition: 0.2s;
  border: transparent solid 1px;
  color: rgb(var(--background-start-rgb));

  padding: 10px;
  font-size: 14px;
  /* text-align: center; */
  font-weight: 600;
  border-bottom-color:rgb(var(--background-start-rgb));
}

.sidebar-items-wrapper ul li:hover,.sidebar-items-wrapper ul li.active{
  background: rgb(var(--background-start-rgb));;
  color: rgb(var(--foreground-rgb));

}

.sidebar-items-wrapper ul li i{
  font-size:25px;
  
  /* font-weight: 600; */
}

.main{
  padding: 20px;
  /* background: rgb(var(--background-start-rgb)); */
  height: 100vh;
  transition: margin-left .5s;
  position: fixed;
  top: 70px;
  left: 70px;
  width: 93%;
}
.top-bar{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(var(--foreground-rgb));

}

.page-top-bar{
  width: 100%;
  /* padding: 0 10px; */
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(var(--background-secondary));
}
.page-top-bar h1{
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;
}

.custom-datatable .p-datatable-thead, .custom-datatable .p-datatable-tbody {
  background-color: transparent;
}

.primary-title{
  font-size: 1.5rem;
  font-weight: 600;
}

.text-danger{
  color: red;
}